.form {
  font-size: 16px;
  max-width: 450px;
  margin: 0 auto;
  button {
    margin: 10px auto;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #eeeeee;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      background-color: #ff7675;
      color: #fff;
    }
  }
  .inputText {
    margin: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #eeeeee;
    height: 35px;
    font-size: 16px;
  }
  input {
    font-family: "Ubuntu", sans-serif;
  }
  /* checkbox */
  .container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 5px;
    }
    &:hover input ~ .checkmark {
      background-color: #ccc;
    }
    & input:checked ~ .checkmark {
      background-color: #ff7675;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    & input:checked ~ .checkmark:after {
      display: block;
    }
    & .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

@media (max-width: 767px) {
  .form,
  button,
  .inputText {
    font-size: 14px !important;
  }
  .form button:hover {
    transform: none;
    background-color: #eeeeee;
    color: #2e2e2e;
  }
}
