.App {
  text-align: center;
  min-width: 550px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .App {
    min-width: 100vw;
    h1,
    h3,
    h4 {
      color: #ff7675;
    }
  }
}
